@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: oklch(62.3% 0.214 259.815);
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background: white;
        overflow-x: hidden;
    }
}

.primary-btn {
    @apply w-full py-2 bg-primary text-white text-sm sm:text-base font-[Archivo] font-bold rounded-xl shadow-xl hover:bg-blue-600 transition-all active:scale-95 cursor-pointer disabled:bg-gray-400;
}

.error-btn {
  @apply w-full py-2 bg-red-500 text-white text-sm sm:text-base font-[Archivo] font-bold rounded-xl shadow-xl hover:bg-red-600 transition-all active:scale-95 cursor-pointer disabled:bg-gray-400;
}

.default-btn {
  @apply w-full py-2 bg-zinc-200 text-center text-sm sm:text-base font-[Archivo] font-bold rounded-xl hover:bg-zinc-300 transition-all active:scale-95 cursor-pointer;
}

.no-bg-btn {
  @apply flex items-center gap-1 opacity-70 font-[Archivo] font-medium hover:opacity-100 transition-all duration-200 cursor-pointer;
}

/* -------------------------------------------------- */
/* Shimmer Effect (Loading Placeholder)            */
/* -------------------------------------------------- */
.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;    /* light */
}

.dark .shimmer {
  background-color: #1f2937; /* dark */
}

.shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.03)
  );
  animation: shimmer 1.5s infinite;
}

.dark .shimmer::before {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.08),
    transparent
  );
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/* -------------------------------------------------- */
/* Open & Close Effect animation for MODALS           */
/* -------------------------------------------------- */
.open {
  animation: open-animate 0.2s ease-out;
}

.close {
  animation: close-animate 0.2s ease-out;
}

@keyframes open-animate {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes close-animate {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

/* -------------------------------------------------- */
/* Open & Close Effect animation for ALERTS           */
/* -------------------------------------------------- */
.open-alert {
  animation: open-alert-animate 0.2s ease-out forwards;
}

.close-alert {
  animation: close-alert-animate 0.2s ease-out forwards;
}

@keyframes open-alert-animate {
  from {
    transform: scale(0.90);
    opacity: 0;
  }
  to {
    transform: scale();
    opacity: 1;
  }
}

@keyframes close-alert-animate {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.90);
    opacity: 0;
  }
}